@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --fundo-principal: #322653;
    --texto-principal: #FFD2D7;
    --texto-secundario: #22D4FD;
    --font-size: 1rem;
    --font-titulo: 'Krona One', sans-serif;
    --font-corpo: 'Montserrat', sans-serif;
}

*, h1, p, a {
    color: var(--texto-principal);
    font-size: var(--font-size);
    font-family: var(--font-corpo);
}

h1 {
    font-family: var(--font-titulo);
}

body {
    background-color: var(--fundo-principal);
}

strong {
    color: var(--texto-secundario);
}

/* CONTEUDO */

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 10% 15%;
}

.conteudo__principal {
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo__principal__titulo {
    --font-size: 2.25rem;
}

.conteudo__principal__paragrafo {
    --font-size: 1.5rem;
}

.conteudo-paragrafo-destaque {
    --texto-secundario: #9288F8;
}

.conteudo__principal__botoes {
    display: flex;
    justify-content: space-between;
}

.conteudo__principal__botoes__botao {
    background-color: var(--texto-secundario);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    --font-size: 1.5rem;
    padding: 21.5px 0;
    color:var(--fundo-principal);
    font-weight: 600;
}